*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header{
    margin-top: 50px;
    font-size: 30px;
    display: flex;
}
.header h1{
    text-decoration: underline;
}
.column{
   display: grid;
   grid-template-columns: repeat(4, 1fr); 
}
.list-Sections{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 5px;
    width: 300px;
    min-height: 200px;
}
.list-Sections h2{
    font-size: 30px;
    margin-top: 10px;
    padding-bottom: 10px;
    text-decoration: underline;
}
.purchased {
  text-decoration: line-through;
  color: gray;
}

.header select{
    height: 30px;
    text-decoration: none;
} 
.header a{
    padding-left: 30px;
    padding-top: 20px;
    color: black;
}
.title-Button{
    padding: 0 20px;
}
.options{
    margin-top: 20px;
    margin-left: 20px;
}
#filter{
    height: 30px;
    margin-top: 24px;
    margin-left: 10px;
}
.item-list{
    cursor: default;
}
